/*.navbar-brand{*/
    /*background-image: url("img/bird1.jpeg");*/
/*}*/




.navbar{
    background-color:rgb(228,129,131);

}

.navbar-item {
    background-color: rgb(228,129,131) !important;
    font-weight: bold;
    color: white;
    transition: color  .5s;
}



